<footer class="footer">
    <div class="container">
        <div class="footer-flex">
            <div class="footer-brand">
                <div class="logo">NEON</div>
                <div class="social-links">
                    <a href="#" class="social-link">Facebook</a>
                    <a href="#" class="social-link">Twitter</a>
                    <a href="#" class="social-link">Instagram</a>
                </div>
            </div>
            <div class="footer-links">
                <div class="link-group">
                    <h4>Products</h4>
                    <ul>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Enterprise</a></li>
                    </ul>
                </div>
                <div class="link-group">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyright">© 2024 NEON. All rights reserved.</div>
        </div>
    </div>
</footer>